// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container2 {
  background-color: #5db075;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.text-labelCadastro,
.text-labelLogin {
  position: absolute;
  margin-top: -800px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.text-BotaoRedirecionar {
  position: absolute;
  margin-top: 600px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 19px;
  text-align: right;
  color: #5db075;
}

.text-BotaoRegistro {
  position: absolute;
  margin-top: -350px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-BotaoRecompensas {
  position: absolute;
  margin-top: -10px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImagemBotaoRegistro {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRegistro {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.ImagemBotaoRecompensas {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRecompensas {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.logo {
  position: absolute;
  margin-top: -500px;
  position: absolute;
}

.logoPontos {
  position: absolute;
  margin-top: -660px;
  margin-right: 340px;
}

.logoPerfil {
  position: absolute;
  margin-top: -700px;
  margin-right: 250px;
}

.imagemHome {
  position: absolute;
  margin-top: 500px;
}

.q-input {
  width: 300px;
}

.text-labelTituloRecompensa {
  position: absolute;
  margin-top: -660px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 29px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 280px;
  max-width: 100%;
  white-space: nowrap;
}

.text-BotaoRetorno {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 40;
  font-size: 50px;
  text-align: center;
  color: white;
}

.botaoRetorno {
  position: absolute;
  margin-top: -800px;
  margin-right: 346px;
  text-align: center;
  color: white;
}

.text-labelMatricula {
  margin-top: 20px;
}

.text-labelSenha {
  margin-top: 20px;
}

.text-labelTituloHome {
  position: absolute;
  margin-top: -660px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 160px;
  max-width: 100%;
  white-space: nowrap;
}

.full-width {
  margin-top: 20px;
  color: white;
  display: absolute;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  background: #5db075;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 15px;
}

.container-Recompensa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 199px;
}

.centered-square-Recompensa {
  width: 400px;
  height: 710px;
  background-color: white;
  border-radius: 40px;
}

.text-Premios {
  position: absolute;
  margin-top: -400px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-Premios {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

.centered-square-Premios {
  width: 360px;
  height: 90px;
  background-color: #5db075;
  border-radius: 20px;
}

.container-Premios1 {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.centered-square-Premios1 {
  width: 360px;
  height: 90px;
  background-color: #5db075;
  border-radius: 20px;
}

.container-Premios2 {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 260px;
}

.centered-square-Premios2 {
  width: 360px;
  height: 90px;
  background-color: #5db075;
  border-radius: 20px;
}

.container-Premios3 {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 490px;
}

.centered-square-Premios3 {
  width: 360px;
  height: 90px;
  background-color: #5db075;
  border-radius: 20px;
}

.container-Premios4 {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 720px;
}

.centered-square-Premios4 {
  width: 360px;
  height: 90px;
  background-color: #5db075;
  border-radius: 20px;
}

.Camera {
  border-radius: 20px;
  width: 100%; /* Ajuste conforme necessário */
  height: auto;
}

.botao-foto {
  margin-top: -460px;
  margin-right: center;
  color: #5db075;
  background-color: white;
}
