// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container2 {
  background-color: #5db075;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow-y: auto;
}

.text-labelCadastro,
.text-labelLogin {
  position: absolute;
  margin-top: -800px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.text-BotaoRedirecionar {
  position: absolute;
  margin-top: 600px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 19px;
  text-align: right;
  color: #5db075;
}

.text-BotaoRegistro {
  position: absolute;
  margin-top: -290px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-BotaoRecompensas {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImagemBotaoRegistro {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRegistro {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.ImagemBotaoRecompensas {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRecompensas {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.logo {
  position: absolute;
  margin-top: -500px;
  position: absolute;
}

.logoPontos {
  position: absolute;
  margin-top: -660px;
  margin-right: 340px;
}

.logoPerfil {
  position: absolute;
  margin-top: -700px;
  margin-right: 250px;
}

.imagemHome {
  position: absolute;
  margin-top: 530px;
}

.q-input {
  width: 300px;
}

.text-labelTituloRecompensa {
  position: absolute;
  margin-top: -660px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 29px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 280px;
  max-width: 100%;
  white-space: nowrap;
}

.text-BotaoRetorno {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 40;
  font-size: 50px;
  text-align: center;
  color: white;
}

.botaoRetorno {
  position: absolute;
  margin-top: -800px;
  margin-right: 346px;
  text-align: center;
  color: white;
}

.text-labelMatricula {
  margin-top: 20px;
}

.text-labelSenha {
  margin-top: 20px;
}

.text-labelTituloHome {
  position: absolute;
  margin-top: -690px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 160px;
  max-width: 100%;
  white-space: nowrap;
}

.text-labelTituloCoins {
  position: absolute;
  margin-top: -560px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 330px;
  max-width: 100%;
  white-space: nowrap;
}

.text-labelTituloAguardo {
  position: absolute;
  margin-top: -500px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 19px;
  line-height: 36px;
  text-align: left;
  color: rgba(241, 241, 241, 0.795);
  width: 330px;
  max-width: 100%;
  white-space: nowrap;
}

.full-width {
  margin-top: 20px;
  color: white;
  display: absolute;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  background: #5db075;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 15px;
}

.container-Recompensa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 199px;
}

.centered-square-Recompensa {
  margin-top: -160px;
  width: 400px;
  height: 530px;
  background-color: white;
  border-radius: 40px;
}

.centered-square-Duvidas{
  margin-top: 530px;
  width: 400px;
  height: 120px;
  position: absolute;
}

.text-Premios {
  position: absolute;
  margin-top: -600px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-Premios {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
}

.centered-square-Premios {
  width: 360px;
  height: 290px;
  background-color: #5db075;
  border-radius: 20px;
}

.centered-Duvidas{
  color: $secondary;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
  margin-top: 10px;
}

.Camera {
  border-radius: 20px;
  width: 100%; /* Ajuste conforme necessário */
  height: auto;
  margin-top: 60px;
}

.botao-foto {
  margin-top: -190px;
  margin-right: center;
  color: #5db075;
  background-color: white;
}

.photoSalva{
  border-radius: 20px;
  width: 100%; /* Ajuste conforme necessário */
  height: auto;
  margin-top: 30px;
}

.botao-delete{
  margin-top: 390px;
  margin-right: center;
  color: #5db075;
  background-color: white;
  position: absolute;
}

.text-labelBaterias{
  color: #5db075;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: -360px;
}

.botao-enviar{
  margin-top: -190px;
  color: #5db075;
  background-color: white;
}

.text-labelTituloRecompensas{
  position: absolute;
  margin-top: -690px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: left;
  color: white;
}
