// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow-y: auto;
}

.container2 {
  background-color: #5db075;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow-y: auto;
}

.text-labelCadastro,
.text-labelLogin {
  position: absolute;
  top: 0px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.text-BotaoRedirecionar {
  position: absolute;
  bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 19px;
  text-align: right;
  color: #5db075;
}

.text-BotaoRegistro {
  position: absolute;
  top: 190px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-BotaoRecompensas {
  position: absolute;
  top: 360px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImagemBotaoRegistro {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRegistro {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.ImagemBotaoRecompensas {
  margin-top: -50px;
  line-height: 36px;
  text-align: center;
}

.text-labelBotaoRecompensas {
  position: absolute;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 60px;
  position: absolute;
}

.logoPontos {
  position: absolute;
  margin-top: -660px;
  margin-right: 340px;
}

.logoPerfil {
  position: absolute;
  top: 10px;
  margin-right: 250px;
}

.imagemHome {
  position: absolute;
  top: 500px;
}

.q-input {
  width: 300px;
}

.text-labelTituloRecompensa {
  position: absolute;
  margin-top: -660px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 29px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 280px;
  max-width: 100%;
  white-space: nowrap;
}

.text-BotaoRetorno {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 40;
  font-size: 50px;
  text-align: center;
  color: white;
}

.botaoRetorno {
  position: absolute;
  top: 20px;
  left: 10px;
  margin-right: 346px;
  text-align: center;
  color: white;
}

.text-labelMatricula {
  margin-top: 20px;
}

.text-labelTituloHome {
  position: absolute;
  top: 33px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 160px;
  max-width: 100%;
  white-space: nowrap;
}

.text-labelTituloCoins {
  position: absolute;
  top: 90px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  text-align: left;
  color: white;
  width: 330px;
  max-width: 100%;
  white-space: nowrap;
}

.text-labelTituloAguardo {
  position: absolute;
  top: 119px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 19px;
  line-height: 36px;
  text-align: left;
  color: rgba(241, 241, 241, 0.795);
  width: 330px;
  max-width: 100%;
  white-space: nowrap;
}

.full-width {
  margin-top: 20px;
  color: white;
  display: absolute;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  background: #5db075;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 15px;
}

.container-Recompensa {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
}

.centered-square-Recompensa {
  top: 100px;
  width: 370px;
  height: 530px;
  background-color: white;
  border-radius: 40px;
  position: absolute;
}

.centered-square-Duvidas {
  top: 630px;
  width: 370px;
  height: 120px;
  position: absolute;
}

.text-Premios {
  position: absolute;
  top: 110px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #5db075;
  background: white;
  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-Premios {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 180px;
}

.centered-square-Premios {
  width: 360px;
  background-color: #5db075;
  border-radius: 20px;
}

.centered-Duvidas {
  color: $secondary;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
  margin-top: 10px;
}

.Camera {
  border-radius: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 130px;
}

.botao-foto {
  top: 430px;
  margin-right: center;
  position: absolute;
  color: #5db075;
  background-color: white;
}

.photoSalva {
  border-radius: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 130px;
}

.botao-delete {
  top: 430px;
  margin-right: center;
  color: #5db075;
  background-color: white;
  position: absolute;
}

.text-labelBaterias {
  color: #5db075;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 10px;
}

.botao-enviar {
  top: 90px;
  color: #5db075;
  background-color: white;
  position: absolute;
  height: 30px;
  width: 130px;
  border-radius: 100px;
}

.text-labelTituloRecompensas {
  position: absolute;
  top: 90px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: left;
  color: white;
}
